@model IEnumerable<MovieTime.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Actors</h1>

<p>
    <a asp-action="Create" class="text-warning">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="text-warning" asp-action="Edit" asp-route-id="@item.ActorId">Edit</a> |
                <a class="text-warning" asp-action="Details" asp-route-id="@item.ActorId">Details</a> |
                <a class="text-warning" asp-action="Delete" asp-route-id="@item.ActorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
